<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Add a new item to @Model["category"].GetName()</h1>
      <form action = "/items" method="post">
        <input id="category-id" name="category-id" type="hidden" value='@Model["cateogry"].GetId()'>
        <label for="item-description">Item description</label>
        <input id="item-description" name="item-description" type="text">
        <button type="submit">Add Item</button>
      </form>
    </div>

  </body>
</html>
