@* not currently used, here in case we want to give details of an item when you click on it *@
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Details</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div class="container text-center">
      <h1>@Model.GetDescription()</h1>

      <a href="/items/new">Add another Item</a>
      <a href="/">View All Items</a>
    </div>
  </body>
</html>
